.dashboard {
  position: absolute;
  top: 4%;
  left: 30%;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
}
@media screen and (max-width: 450px) {
  .dashboard {
    position: absolute;
    top: 50%;
    left: 30%;
  }
}
